{% extends 'Employees/layout/base.html' %}

{% block content %}
<body>
<img src="https://img.thuthuatphanmem.vn/uploads/2018/10/11/hinh-anh-may-bay-viet-nam-dep_041753785.jpg"
     alt="Anh máy bay" class="image">
{% if 'info_flight_one' in session %}
<div class="d-flex justify-content-center"
     style="background-color: darkgray;text-align: center; display: flex; align-items: center; gap: 20px; width: 400px; height: 50px; position: absolute; left: {%if 'info_flight_two' in session and session['info']['loai_ve'] == 'Khứ Hồi'%} 20% {%else%} 40% {%endif%}; top: 230px">
    <div class="d-flex flex-column align-items-center"
         style="width: 70px; margin-right: 10px">
        <div style="width: 100px; margin-right: 10px">
            <p style="margin-bottom: 2px;" id="dia-diem-di1">
                {{session['info_flight_one']['noi_di']}}</p>
        </div>
        <div>
            <span class="font-bold" style="font-weight: bold;" id="thoi-gian-xuat-phat1">{{session['info_flight_one']['ngay_di'].strftime('%H:%M')}}</span>
        </div>
    </div>
    <!-- điểm dừng -->
    <div class="d-flex flex-column align-items-center"
         style="width: 120px">
        <p class="text-muted mb-2"
           style="margin-top: -11px">
            {{session['info_flight_one']['so_luong_diem_dung']}} điểm dừng</p>
        <!-- Mũi tên -->
        <div class="arrow-c ontainer d-flex align-items-center"
             style="display: flex; align-items: center; position: absolute">
                                                                    <span class="dot"
                                                                          style="height: 8px; width: 8px; background-color: gray; border-radius: 50%;"></span>
            <div class="line"
                 style=" flex-grow: 2; height: 2px; background-color: gray; margin: 0; width: 80px;"></div>
            <div style="font-size: 19px; color: gray; margin-left: -15px; margin-top: -4px">
                &rarr;
            </div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center"
         style="width: 70px; margin-left: 10px">
        <div style="width: 100px; margin-right: 10px">
            <p style="margin-bottom: 2px;" id="dia-diem-den1">
                {{session['info_flight_one']['noi_den']}}</p>
        </div>
        <div class="">
            <span class="font-bold" style="font-weight: bold;" id="thoi-gian-dung1">{{session['info_flight_one']['ngay_ve'].strftime('%H:%M')}}</span>
        </div>
    </div>
</div>
{%endif%}
{% if 'info_flight_two' in session and session['info']['loai_ve'] == 'Khứ Hồi'%}
<div class="d-flex justify-content-center"
     style="background-color: darkgray; text-align: center; display: flex; align-items: center; gap: 20px; width: 400px; height: 50px; position: absolute; left: 60%; top: 230px">
    <div class="d-flex flex-column align-items-center"
         style="width: 70px; margin-right: 10px">
        <div style="width: 100px; margin-right: 10px">
            <p style="margin-bottom: 2px;" id="dia-diem-di2">
                {{session['info_flight_two']['noi_di']}}</p>
        </div>
        <div>
            <span class="font-bold" style="font-weight: bold;" id="thoi-gian-xuat-phat2">{{session['info_flight_two']['ngay_di'].strftime('%H:%M')}}</span>
        </div>
    </div>
    <!-- điểm dừng -->
    <div class="d-flex flex-column align-items-center"
         style="width: 120px">
        <p class="text-muted mb-2"
           style="margin-top: -11px">
            {{session['info_flight_two']['so_luong_diem_dung']}} điểm dừng</p>
        <!-- Mũi tên -->
        <div class="arrow-c ontainer d-flex align-items-center"
             style="display: flex; align-items: center; position: absolute">
                                                                    <span class="dot"
                                                                          style="height: 8px; width: 8px; background-color: gray; border-radius: 50%;"></span>
            <div class="line"
                 style=" flex-grow: 2; height: 2px; background-color: gray; margin: 0; width: 80px;"></div>
            <div style="font-size: 19px; color: gray; margin-left: -15px; margin-top: -4px">
                &rarr;
            </div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-center"
         style="width: 70px; margin-left: 10px">
        <div style="width: 100px; margin-right: 10px">
            <p style="margin-bottom: 2px;" id="dia-diem-den2">
                {{session['info_flight_two']['noi_den']}}</p>
        </div>
        <div class="">
            <span class="font-bold" style="font-weight: bold;" id="thoi-gian-dung2">{{session['info_flight_two']['ngay_ve'].strftime('%H:%M')}}</span>
        </div>
    </div>
</div>
{%endif%}
<div class="d-flex align-items-center justify-content-center min-vh-80 mt-5">
    <div class="container text-center ticket" style="margin-left: 50px; padding-bottom: 30px;">
        <div class="container-fluid">
            <div class="row" style="margin-top: 100px">
                <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 bg-primary text-white mt-5"
                     style="background-color: navajowhite !important; border-radius: 10px !important; height: 350px !important;">
                    <div class="container mt-3">
                        <h4 style="margin-bottom: 0 !important;">Thao tác vé</h4>
                        <div class="list-group">
                            <a href="/page/sellticket" class="list-group-item list-group-item-action bg-primary"><i
                                    class="fas fa-ticket-alt"></i>Bán vé</a>
                            <a href="/page/changeticket" class="list-group-item list-group-item-action"><i
                                    class="fas fa-exchange-alt"></i>Đổi vé</a>
                            <a href="/page/cancelticket" class="list-group-item list-group-item-action"><i
                                    class="fas fa-ban"></i>Hủy
                                vé</a>
                            <a href="/page/printticket" class="list-group-item list-group-item-action"><i
                                    class="fas fa-print"></i>Xuất
                                vé</a>
                            <a href="#" class="list-group-item list-group-item-action"><i
                                    class="fas fa-arrow-left"></i>Quay lại</a>
                        </div>
                    </div>
                </div>
                {%for i in range(0, quantity)%}

                <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 text-white mt-5"
                     style="{% if i == 0 %}margin-left: 0{% else %}margin-left: 200px{% endif %}">
                    <div class="container">
                        <div class="row">
                            <div class="d-inline-flex"
                                 style="background-color: darkgray ; height: 400px; border-radius: 10px; position: relative; width: 100%; ">
                                <div style="height: 40px; position: absolute; top: 30px; left: 410px"><h4>Điền thông tin
                                    vé</h4></div>
                                <!-- Form thông tin -->
                                <form method="post" action="/page/booktickets" class="row g-3"
                                      style="position: absolute; top: 100px; left: 20px; width: 95%">
                                    <!-- Họ và tên -->
                                    <div class="col-md-3">
                                        <label class="form-label">Họ và tên</label>
                                        <div class="d-flex gap-3">
                                            <div>
                                                <input type="text" name="lname{{i}}" id="lname{{i}}"
                                                       class="form-control"
                                                       placeholder="Nhập Họ">
                                            </div>
                                            <div>
                                                <input type="text" name="fname{{i}}" id="fname{{i}}"
                                                       class="form-control"
                                                       placeholder="Nhập Tên">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Số điện thoại -->
                                    <div class="col-md-3">
                                        <label for="phone{{i}}" class="form-label">Số điện thoại</label>
                                        <input type="text" onblur="checkPhone(this)" name="phone{{i}}"
                                               class="form-control" id="phone{{i}}"
                                               placeholder="Nhập số điện thoại">
                                    </div>

                                    <!-- Số CCCD -->
                                    <div class="col-md-3">
                                        <label for="cccd{{i}}" class="form-label">Số CCCD</label>
                                        <input type="text" onblur="checkCCCD(this)" name="cccd{{i}}"
                                               class="form-control" id="cccd{{i}}"
                                               placeholder="Nhập số CCCD">
                                    </div>

                                    <!-- Ngay sinh -->
                                    <div class="col-md-3">
                                        <label for="birthday{{i}}" class="form-label">Ngày sinh</label>
                                        <input type="date" name="birthday{{i}}" value={{time_now}} class="form-control"
                                               id="birthday{{i}}"
                                               placeholder="Nhập số CCCD" max="{{time_now}}">
                                    </div>

                                    <!-- Email -->
                                    <div class="col-md-3">
                                        <label for="email{{i}}" class="form-label">Email</label>
                                        <input type="email" name="email{{i}}" class="form-control" id="email{{i}}"
                                               placeholder="Nhập email">
                                    </div>

                                    <!-- Hạng vé -->
                                    <div class="col-md-3">
                                        <label class="form-label">Hạng vé</label>
                                        <div class="d-flex justify-content-center align-items-center"
                                             style="background-color: white; border-radius: 5px; height: 35px; color: black;">
                                            <label>{{session['info']['hang_ve']}}</label>
                                        </div>
                                    </div>

                                    <!-- Loại vé -->
                                    <div class="col-md-3">
                                        <label class="form-label">Loại vé</label>
                                        <div class="d-flex justify-content-center align-items-center"
                                             style="background-color: white; border-radius: 5px; height: 35px; color: black;">
                                            <label id="loai-ve">{{session['info']['loai_ve']}}</label>
                                        </div>
                                    </div>

                                    <!-- Hành lý -->
                                    <div class="col-md-3">
                                        <label class="form-label">Số lượng hành lý</label>
                                        <div class="input-group">
                                            <button onclick="baggageDecrease({{quantity}},{{i}})" type="button"
                                                    class="btn btn-outline-secondary"
                                                    id="baggage-decrease{{i}}"
                                                    style="margin-top: 4px; margin-right: 7px; background-color: white">
                                                -
                                            </button>
                                            <input type="text" class="form-control text-center" id="baggage-count{{i}}"
                                                   name="quantity-baggage{{i}}"
                                                   value="0" style="border-radius: 5px; height: 35px" disabled>
                                            <button onclick="baggageIncrease({{quantity}},{{i}})" type="button"
                                                    class="btn btn-outline-secondary"
                                                    id="baggage-increase{{i}}"
                                                    style="margin-top: 4px; margin-left: 7px; background-color: white">+
                                            </button>
                                        </div>
                                    </div>

                                    <!-- Ngày đi -->
                                    <div class="col-md-3">
                                        <label class="form-label">Ngày đi</label>
                                        <div class="d-flex justify-content-center align-items-center"
                                             style="background-color: white; border-radius: 5px; height: 35px; color: black;">
                                            <label>{{session['info']['ngay_di']}}</label>
                                        </div>
                                    </div>

                                    <!-- Vị trí ngồi đã được chọn-->
                                    <div class="col-md-3">
                                        <label class="form-label">Vị trí ngồi {{"đi và về" if session['info']['loai_ve']
                                            == 'Khứ Hồi' else ''}}</label>
                                        <div class="d-flex gap-3">
                                            <div class="d-flex justify-content-center align-items-center"
                                                 style="background-color: white; border-radius: 5px; height: 35px; color: black; width: {{ '100px' if session['info']['loai_ve'] == 'Khứ Hồi' else '500px'}} ">
                                                <div><label id="sitting-position-go{{i}}"></label></div>
                                            </div>
                                            {%if session['info']['loai_ve'] == 'Khứ Hồi'%}
                                            <div class="d-flex justify-content-center align-items-center"
                                                 style="background-color: white; border-radius: 5px; height: 35px; color: black; width: 100px">
                                                <div><label id="sitting-position-comeback{{i}}"></label></div>
                                            </div>
                                            {%endif%}
                                        </div>
                                    </div>

                                    <!-- Chọn Vị trí ngồi -->
                                    <div class="col-md-3 select-seat">
                                        <div>
                                            <label class="form-label ms-5">Chọn vị trí</label>
                                            <div class="d-flex gap-2 ms-5">
                                                <div style="">
                                                    <button onclick="chairsSelectedFirst({{i}},{{quantity}}, 'sitting-position-go')"
                                                            type="button" class="btn-select-seat go{{i}}"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#myModalFirst{{i}}">Vị trí đi
                                                    </button>
                                                </div>
                                                {%if session['info']['loai_ve'] == 'Khứ Hồi'%}
                                                <div>
                                                    <button onclick="chairsSelectedReturn({{i}},{{quantity}}, 'sitting-position-comeback')"
                                                            type="button" class="btn-select-seat return{{i}}"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#myModalSecondary{{i}}">Vị trí về
                                                    </button>
                                                </div>
                                                {%endif%}
                                            </div>
                                        </div>

                                    </div>
                                    <!-- The Modal luot di-->
                                    <div class="modal fade" id="myModalFirst{{i}}">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <!-- Modal body -->
                                                <div class="modal-body" style="height: 600px;">
                                                    <div class="container">
                                                        <div class="row g-2" style="gap: 10px">
                                                            {% for j in range(0, (chairs_first_turn | length))%}
                                                            <button onclick="selectSeatFirst(this, {{i}})" type="button"
                                                                    class="col-md-1 d-flex justify-content-center align-items-center rounded seatGo{{i}}"
                                                                    style="width:42px !important; height: 35px !important; {%if chairs_first_turn[j].trang_thai == True%} background-color: red {%endif%}"
                                                                    {%if chairs_first_turn[j].trang_thai== True%}
                                                                    disabled {%endif%}>{{chairs_first_turn[j].vi_tri}}
                                                            </button>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger"
                                                            data-bs-dismiss="modal">Xác nhận
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- The Modal luot ve-->
                                    <div class="modal fade" id="myModalSecondary{{i}}">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <!-- Modal body -->
                                                <div class="modal-body" style="height: 600px;">
                                                    <div class="container">
                                                        <!-- Tạo day thu 1 -->
                                                        <div class="row g-2" style="gap: 10px">
                                                            {% for j in range(0, (charis_return | length))%}
                                                            <button onclick="selectSeatSecondary(this, {{i}})"
                                                                    type="button"
                                                                    class="col-md-1 d-flex justify-content-center align-items-center rounded seatReturn{{i}}"
                                                                    style="width:42px !important; height: 35px !important; {%if charis_return[j].trang_thai == True%} background-color: red {%endif%}"
                                                                    {%if charis_return[j].trang_thai== True%} disabled
                                                                    {%endif%}>{{charis_return[j].vi_tri}}
                                                            </button>
                                                            {%endfor%}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger"
                                                            data-bs-dismiss="modal">Xác nhận
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Tổng thanh toán -->
                                    <div class="col-md-3 order-md-4">
                                        <label class="form-label">Số tiền thanh toán</label>
                                        <div class="d-flex justify-content-center align-items-center"
                                             style="background-color: white; border-radius: 5px; height: 35px; color: black; background-color: antiquewhite;">
                                            <label id="price{{i}}"> {{
                                                "{:,.0f}".format(((session['info_flight_one']['gia_tien']) +
                                                (session['info_flight_two']['gia_tien'])) if
                                                session['info']['loai_ve'] == 'Khứ Hồi' else
                                                session['info_flight_one']['gia_tien'])}}</label><label>&nbsp;VND</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
<div class="container p-5 text-white rounded"
     style="background-color: darkgray; width: 50%; margin-right: 200px; position: relative; height: 230px">
    <div class="row">
        <!-- Mã giảm giá -->
        <div class="col-md-6" style="position: absolute; top: 10px; width: 250px">
            <label for="discount-code" class="form-label">Mã giảm giá</label>
            <input onblur="discount(this)" type="text" class="form-control" id="discount-code"
                   placeholder="Nhập mã giảm giá">
        </div>
        <!-- Hình thức thanh toán -->
        <div class="col-md-6" style="position: absolute; top: 10px; right: 70px; width: 250px">
            <label for="payment-method" class="form-label">Hình thức thanh toán</label>
            <select id="payment-method" class="form-select">
                <option selected>Thanh toán trực tuyến</option>
                <option>Ví điện tử</option>
                <option>Tiền mặt</option>
            </select>
        </div>
    </div>
    <div class="row">
        <!-- Tổng tiền phải trả -->
        <div class="col-md-6" style="position: absolute; top: 93px; width: 250px">
            <label for="discount-code" class="form-label">Tổng tiền phải trả</label>
            <div class="d-flex justify-content-center align-items-center"
                 style="background-color: white; border-radius: 5px; height: 35px; color: black; width: 225px ">
                <div><label id="pay">{{ "{:,.0f}".format((((session['info_flight_one']['gia_tien']) +
                    (session['info_flight_two']['gia_tien'])) * (session['info']['so_luong_hanh_khach'][0] | int)) if
                    session['info']['loai_ve'] == 'Khứ Hồi' else session['info_flight_one']['gia_tien'] *
                    (session['info']['so_luong_hanh_khach'][0] | int))}}</label><label>&nbsp;VND</label></div>
            </div>
        </div>
        <!-- Số tiền cần trả sau giảm giá -->
        <div class="col-md-6" style="position: absolute; top: 93px; right: 35px; width: 280px">
            <label for="payment-method" class="form-label">Số tiền cần trả sau khi giảm giá</label>
            <div class="d-flex justify-content-center align-items-center"
                 style="background-color: white; border-radius: 5px; height: 35px; color: black; width: 225px ">
                <div><label id="totalPay">{{ "{:,.0f}".format((((session['info_flight_one']['gia_tien']) +
                    (session['info_flight_two']['gia_tien'])) * (session['info']['so_luong_hanh_khach'][0] | int)) if
                    session['info']['loai_ve'] == 'Khứ Hồi' else session['info_flight_one']['gia_tien'] *
                    (session['info']['so_luong_hanh_khach'][0] | int))}}</label><label>&nbsp;VND</label></div>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="position: absolute; top: 180px; left: 200px">
        <button onclick="tickets({{quantity}})" type="button"
                class="confirm-sell-tickets d-flex justify-content-center align-items-center">Xác nhận
        </button>
    </div>
    <div class="col-md-3" style="position: absolute; top: 180px; left: 320px">
        <div class="drop-sell-tickets d-flex justify-content-center align-items-center">
            <a href="/page/selltickets">Hủy</a>
        </div>
    </div>
</div>
</body>
{% endblock %}