<!-- Modal thông báo thất bại -->
<div class="modal fade" id="failModal" tabindex="-1" aria-labelledby="failModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <!-- Icon thất bại -->
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#dc3545" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8a8 8 0 1 1-16 0 8 8 0 0 1 16 0zM11.854 4.146a.5.5 0 0 0-.708 0L8 6.793 4.854 3.646a.5.5 0 0 0-.708.708L7.293 7.5 4.146 10.646a.5.5 0 0 0 .708.708L8 8.207l3.146 3.146a.5.5 0 0 0 .708-.708L8.707 7.5l3.146-3.146a.5.5 0 0 0 0-.708z"/>
          </svg>
        </div>
        <!-- Nội dung thông báo -->
        <h5 class="mt-3">Thanh toán không thành công. Vui lòng thử lại!</h5>
      </div>
      <!-- Nút xác nhận -->
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
