<!-- Modal để hiển thị mã QR -->
<div class="modal fade" id="qrModal" tabindex="-1" aria-labelledby="qrModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="qrModalLabel">Thanh toán qua VNPAY</h5>
            </div>
            <div class="modal-body text-center">
                <h4>Quét mã QR để thanh toán</h4>
                <img id="paymentQrCode" src="" alt="QR Code thanh toán" class="img-fluid"/>
            </div>
        </div>
    </div>
</div>